
body {
  margin: 0px;
  padding : 0px;
  background-color: #151515;
  text-align: center;
}

h1, h2 {
  font-family: 'Poppins';
  font-weight: lighter;
  color: #fff;
  font-size: 4em;
}

.graph {
  width: 60%;
  height: 600px;
}

.graph.ews{
  height: 450px;
}
